openapi: 3.1.0
info:
  title: GymBuddy API
  version: 1.0.0
  description: |
    GymBuddy is offline-first: every client holds a full local replica of
    the user's data and queues writes in a local outbox. The UI reads and
    writes that replica directly and never awaits a network call - sync
    with the server happens separately, on its own schedule, as
    push-then-pull (never concurrent).

    This is why there are no per-entity CRUD endpoints. The outbox is the
    only write path, for every client, online or offline; a second "live"
    write endpoint would give the server two places to enforce the same
    change-log and revision invariants, which is exactly the kind of
    drift that produces unreconcilable data. Writes go through
    `/v1/sync/push`, always. Conflict resolution is server-authoritative:
    the server decides who wins and stamps `updatedAt` and `revision`.
    On a win, push's own response carries those values back and the
    client overwrites its local copy with them directly. On a loss
    (`CONFLICT`), push returns no entity data at all - there is nothing
    to overwrite with yet. The client discards its local change and
    picks up the winning version from the next `/v1/sync/pull`, the only
    path a full entity ever travels back to a client. Clients never
    merge. Workout sessions and workout templates sync as whole
    aggregates together with their children (performed exercises, sets,
    template exercises) - there is no independent sync path for a child
    row, and a tombstoned parent implicitly tombstones everything under
    it.

    The pull cursor returned by `/v1/sync/pull` is an opaque token.
    Clients must never parse it, construct one, or compare two cursors
    for ordering - treat it as a black box to be stored and replayed.
    Reference data (default exercises and workout templates) has its own
    read-only endpoints under `/v1/reference`, versioned independently so
    clients can cheaply check whether their bundled copy is stale.

    Storage is metric everywhere: kilograms, centimetres, metres. Unit
    conversion for display is a client-side concern and never happens on
    the wire.
  contact:
    name: Ivan Karlo Rukavina
    email: ivankarlo.rukavina@gmail.com

servers:
  - url: https://api.gymbuddy.app
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - firebaseAuth: [ ]

tags:
  - name: Sync
    description: Push-then-pull sync of a client's local data with the server.
  - name: Reference
    description: |
      Read-only default exercise and workout template libraries. Server-
      owned; clients cannot write to these through this API.
  - name: Account
    description: Authenticated user profile bootstrap and account deletion.
  - name: System
    description: Operational endpoints not scoped to a user.

paths:
  /v1/sync/push:
    post:
      tags: [ Sync ]
      summary: Push local changes
      description: |
        Sends locally-created, locally-modified, and locally-deleted
        entities. Each array is applied independently; ordering between
        arrays is not significant.

        A deletion is not a separate operation: it is an ordinary entity
        push with deletedAt set to any non-null value. The server treats
        this exactly like any other field change - same revision check,
        same idempotency rule - and stamps its own deletedAt on write;
        the value the client sends is only a signal, never stored
        verbatim. This does not apply to userProfile (account deletion
        is a separate, dedicated endpoint) or to userExerciseStates/
        userTemplateStates, which have no deletedAt at all.

        Every entity is applied in its own transaction and receives its own
        result, so one rejected entity does not block the rest of the batch.

        Idempotent by entity id. Re-pushing an entity the server has already
        applied returns the existing result rather than duplicating it.

        Inspect every result before clearing the outbox entry it came from:

          APPLIED   overwrite the local updatedAt and revision with the
                    server-assigned values returned here, then clear the
                    outbox entry.
          CONFLICT  the server held a newer version. This result carries
                    no entity data - updatedAt and revision are both
                    null - so there is nothing here to overwrite local
                    state with. Discard the local change, clear the
                    outbox entry, and wait for the next pull to deliver
                    the winning version; do not retry this push.
          INVALID   the entity fails validation and can never succeed as
                    sent - clear the outbox entry without retrying.
          FORBIDDEN the entity is not owned by the caller - clear the
                    outbox entry without retrying.
          ERROR     an unexpected server-side failure while processing
                    this entity - not the client's fault and not a
                    verdict on the data. Leave the outbox entry in place
                    and retry the push later; do not discard it.
      operationId: pushChanges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushRequest'
            example:
              workoutSessions:
                - id: 018f5e9a-7c3d-7abc-8b2e-1a2b3c4d5e6f
                  startedAt: 1732628400000
                  endedAt: 1732631580000
                  durationSeconds: 3180
                  title: Push Day
                  notes: Felt strong today
                  templateId: 019fe506-35d6-75b5-a3cf-3bd2184cad28
                  templateTitle: Chest & Triceps
                  performedExercises:
                    - id: 018f5e9a-8d4e-7bcd-9c3f-2b3c4d5e6f70
                      exerciseId: 019fe506-359a-7601-92f2-f441cf1dae33
                      orderIndex: 0
                      exerciseName: Barbell Bench Press
                      exerciseCategory: STRENGTH
                      exerciseTrackingType: WEIGHT_REPS
                      exercisePrimaryMuscles: [ CHEST ]
                      sets:
                        - id: 018f5e9a-8e10-7011-8f21-5e6f70819203
                          weightKg: 60
                          reps: 8
                          setType: WARMUP
                          isCompleted: true
                          restTakenSeconds: 60
                          orderIndex: 0
                        - id: 018f5e9a-8e10-7222-9032-6f7081920314
                          weightKg: 80
                          reps: 6
                          setType: WORKING
                          isCompleted: true
                          restTakenSeconds: 120
                          orderIndex: 1
                        - id: 018f5e9a-8e10-7433-a143-708192031425
                          weightKg: 80
                          reps: 5
                          setType: WORKING
                          isCompleted: true
                          restTakenSeconds: 120
                          orderIndex: 2
                    - id: 018f5e9a-9e5f-7cde-ad40-3c4d5e6f7081
                      exerciseId: 019fe506-359b-7a6f-82f9-90f196c28c0a
                      orderIndex: 1
                      exerciseName: Barbell Back Squat
                      exerciseCategory: STRENGTH
                      exerciseTrackingType: WEIGHT_REPS
                      exercisePrimaryMuscles: [ LEGS ]
                      sets:
                        - id: 018f5e9a-9f60-7544-b254-819203142536
                          weightKg: 100
                          reps: 5
                          setType: WORKING
                          isCompleted: true
                          restTakenSeconds: 150
                          orderIndex: 0
                        - id: 018f5e9a-9f60-7655-c365-920314253647
                          weightKg: 100
                          reps: 5
                          setType: WORKING
                          isCompleted: true
                          restTakenSeconds: 150
                          orderIndex: 1
              exercises:
                - id: 018f5e9a-a16a-7def-be51-4d5e6f708192
                  name: Cable Lateral Raise (Behind Back)
                  primaryMuscles: [ SHOULDERS ]
                  secondaryMuscles: [ ]
                  description: A cable variation of the lateral raise, routed behind the back for constant tension through the full range of motion.
                  instructions:
                    - Stand sideways to a low cable pulley
                    - Grip the handle with the far hand, arm across the body
                    - Raise the arm out to the side to shoulder height
                    - Lower with control
                  tips:
                    - Keep a slight bend in the elbow
                    - Lead with the elbow, not the hand
                  difficulty: INTERMEDIATE
                  equipmentNeeded: [ CABLE ]
                  category: STRENGTH
                  exerciseType: ISOLATION
                  trackingType: WEIGHT_REPS
                  videoUrl: null
                  thumbnailUrl: null
                  source: CUSTOM
                  ownerId: 8Kj3mNpQR5X9YbZ2LtWvAeHc3Fg1
                  derivedFromId: null
                  deprecated: false
      responses:
        '200':
          description: Batch processed. Inspect per-entity results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushResponse'
              example:
                results:
                  - entityType: WORKOUT_SESSION
                    entityId: 018f5e9a-7c3d-7abc-8b2e-1a2b3c4d5e6f
                    status: APPLIED
                    updatedAt: 1732631605123
                    revision: 1
                  - entityType: EXERCISE
                    entityId: 018f5e9a-a16a-7def-be51-4d5e6f708192
                    status: CONFLICT
                    reason: Server has a newer revision of this exercise, pushed from another device.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/sync/pull:
    get:
      tags: [ Sync ]
      summary: Pull changes since a cursor
      description: |
        Returns entities changed since the given cursor. Omit the cursor for
        a full initial sync.

        Pulling is a loop, not a single call: commit the page to local
        storage, persist nextCursor, then call again with that cursor if
        hasMore is true. Repeat until hasMore is false.

        The order matters. nextCursor must be persisted only after the
        page it came with has been committed locally - never before, and
        never together in a way that could commit one without the other.
        If the app is killed between persisting the cursor and committing
        the page, the next pull resumes from a cursor that already thinks
        this page was seen, and the data in it is silently lost. Persisting
        after commit means a crash just repeats the page - safe, because
        push/pull application is idempotent.

        A 410 means the cursor predates the tombstone retention window
        (deletions are only kept for 90 days) and can no longer be resumed
        from. The client must discard all local data for this user and
        start over by calling pull again with no cursor.

        This is evaluated against what this account actually still has on
        record, not a blanket age limit on the cursor value itself: a
        cursor that has nothing new to deliver never expires merely from
        going unused, no matter how long it sits - only cursors that
        would need to replay a deletion that has since been pruned are
        rejected. An account that rarely syncs is not penalised for it.

        A 400 means the cursor string itself couldn't be decoded - it
        wasn't produced by a previous pull, or was corrupted in storage.
        This is not the same as 410: a malformed cursor's position is
        unknown, not just old, so there's nothing to compare it against.
        Treat it the same way as a 410 in practice - discard local data
        and start over - but the two are logged and reported separately
        since they indicate different failures (client-side corruption
        vs. server-side retention).
      operationId: pullChanges
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: |
            Opaque token from a previous pull. Clients must treat this as
            an opaque string: never parse it, construct it, or compare two
            cursors for ordering. Omit for a full initial sync.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 200
            maximum: 500
      responses:
        '200':
          description: Changes since the cursor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullResponse'
              example:
                exercises:
                  - id: 018f5e9a-a16a-7def-be51-4d5e6f708192
                    name: Cable Lateral Raise (Behind Back)
                    primaryMuscles: [ SHOULDERS ]
                    secondaryMuscles: [ ]
                    description: A cable variation of the lateral raise, routed behind the back for constant tension through the full range of motion.
                    instructions:
                      - Stand sideways to a low cable pulley
                      - Grip the handle with the far hand, arm across the body
                      - Raise the arm out to the side to shoulder height
                      - Lower with control
                    tips:
                      - Keep a slight bend in the elbow
                      - Lead with the elbow, not the hand
                    difficulty: INTERMEDIATE
                    equipmentNeeded: [ CABLE ]
                    category: STRENGTH
                    exerciseType: ISOLATION
                    trackingType: WEIGHT_REPS
                    videoUrl: null
                    thumbnailUrl: null
                    source: CUSTOM
                    ownerId: 8Kj3mNpQR5X9YbZ2LtWvAeHc3Fg1
                    derivedFromId: null
                    deprecated: false
                    updatedAt: 1732631605123
                    deletedAt: null
                    revision: 1
                workoutTemplates:
                  - id: 019fe506-4210-7a3b-9c44-1a2b3c4d5e6f
                    title: Old Push Day
                    templateExercises: [ ]
                    source: CUSTOM
                    ownerId: 8Kj3mNpQR5X9YbZ2LtWvAeHc3Fg1
                    derivedFromId: null
                    deprecated: false
                    updatedAt: 1732631700000
                    deletedAt: 1732631700000
                    revision: 3
                nextCursor: eyJ2IjoxLCJtb2RlIjoiREVMVEEiLCJzZXEiOjI0NX0
                hasMore: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '410': { $ref: '#/components/responses/CursorExpired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/health:
    get:
      tags: [ System ]
      summary: Liveness probe
      description: |
        Answers "is the process alive", not "is everything working". Must
        not touch the database or any downstream dependency - a healthy
        response here says nothing about data availability. Unauthenticated.
      operationId: getHealth
      security: [ ]
      responses:
        '200':
          description: Process is up.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthStatus' }

  /v1/me:
    get:
      tags: [ Account ]
      summary: Authenticated bootstrap
      description: |
        Returns the caller's profile, both reference library versions, and
        the server's current time in one call, so a client can initialize
        a session without a chain of requests.

        There is deliberately no PUT here: the profile is written through
        the same outbox as every other entity, via /v1/sync/push. A second
        write path for the profile would mean two places to maintain the
        change-log and revision invariants.
      operationId: getMe
      responses:
        '200':
          description: Bootstrap payload for the authenticated caller.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MeResponse' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/account:
    delete:
      tags: [ Account ]
      summary: Delete account
      description: |
        Permanently deletes the caller's account: all synced data, and the
        underlying Firebase Auth user. Irreversible, with no grace period
        or recovery window.

        Firebase requires a recent credential for sensitive operations
        like deleting a user. Clients must re-authenticate the user
        immediately before calling this endpoint - a token from an
        already-stale session will be rejected.

        Required by App Store Review Guideline 5.1.1(v) (account deletion
        must be offered in-app) and GDPR Article 17 (right to erasure).
      operationId: deleteAccount
      responses:
        '204':
          description: Account and all associated data deleted.
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/reference/version:
    get:
      tags: [ Reference ]
      summary: Current reference library versions
      description: |
        Cheap check for whether the client's bundled default exercise and
        workout template libraries are stale, without downloading either
        library. Compare against the versions the client last stored (or
        against MeResponse) before deciding to call
        /v1/reference/exercises or /v1/reference/templates.
      operationId: getReferenceVersion
      responses:
        '200':
          description: Current library versions.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReferenceVersion' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/reference/exercises:
    get:
      tags: [ Reference ]
      summary: Default exercise library
      description: |
        The full server-owned default exercise library, including
        deprecated entries. Clients need deprecated exercises to resolve
        existing references (e.g. a past workout session that used one)
        and are responsible for filtering them out of browsing and search
        themselves - the server does not do this filtering.

        This is read-only. Custom exercises are user-owned and sync
        through /v1/sync/push and /v1/sync/pull like any other entity.
      operationId: getReferenceExercises
      responses:
        '200':
          description: The full default exercise library, with its version.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExerciseLibraryResponse' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/reference/templates:
    get:
      tags: [ Reference ]
      summary: Default workout template library
      description: |
        The full server-owned default workout template library, including
        deprecated entries - same rationale as /v1/reference/exercises.
        Read-only; custom templates sync through /v1/sync/push and
        /v1/sync/pull.
      operationId: getReferenceTemplates
      responses:
        '200':
          description: The full default workout template library, with its version.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateLibraryResponse' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '500': { $ref: '#/components/responses/InternalError' }

components:
  securitySchemes:
    firebaseAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase ID token. Verified server-side against Google's JWKS.

  schemas:
    PushRequest:
      type: object
      description: |
        Each array carries entities of one type. All are optional; omit or
        send empty for types with no pending changes.
      properties:
        workoutSessions:
          type: array
          items: { $ref: '#/components/schemas/WorkoutSession' }
        exercises:
          type: array
          description: Custom exercises only. Default exercises are server-owned.
          items: { $ref: '#/components/schemas/Exercise' }
        workoutTemplates:
          type: array
          items: { $ref: '#/components/schemas/WorkoutTemplate' }
        userExerciseStates:
          type: array
          items: { $ref: '#/components/schemas/UserExerciseState' }
        userTemplateStates:
          type: array
          items: { $ref: '#/components/schemas/UserTemplateState' }
        userProfile:
          $ref: '#/components/schemas/UserProfile'

    PushResponse:
      type: object
      required: [ results ]
      properties:
        results:
          type: array
          items: { $ref: '#/components/schemas/MutationResult' }

    MutationResult:
      type: object
      required: [ entityType, entityId, status ]
      properties:
        entityType:
          $ref: '#/components/schemas/EntityType'
        entityId:
          type: string
          description: |
            Not always a UUID: USER_PROFILE's id is the caller's Firebase
            uid, a provider-issued string, not a UUID.
        status:
          type: string
          enum: [ APPLIED, CONFLICT, INVALID, FORBIDDEN, ERROR ]
          description: |
            APPLIED   accepted; updatedAt and revision are authoritative.
                      Client action: overwrite local updatedAt/revision
                      with these values, then clear the outbox entry.
            CONFLICT  server state was newer; server wins. No entity data
                      is returned here - updatedAt and revision are null -
                      pull is the only path a full entity travels back to
                      a client. Client action: discard the local change,
                      clear the outbox entry, and wait for the next pull
                      to deliver the winning version; do not retry.
            INVALID   failed validation; this entity can never succeed as
                      sent. Client action: clear the outbox entry, do not
                      retry.
            FORBIDDEN not owned by the caller. Client action: clear the
                      outbox entry, do not retry.
            ERROR     an unexpected server-side failure processing this
                      one entity - not a verdict on the data, and not the
                      client's fault. Client action: leave the outbox
                      entry in place and retry later; never discard it.
        updatedAt:
          type: integer
          format: int64
          description: Server-assigned. Present when status is APPLIED.
        revision:
          type: integer
          description: Server-assigned. Present when status is APPLIED.
        reason:
          type: string
          description: Present when status is not APPLIED.

    PullResponse:
      type: object
      required: [ nextCursor, hasMore ]
      description: |
        Changed entities since the cursor. Deletions arrive as entities with
        a non-null deletedAt, not as a separate list - one code path handles
        both a create/update and a delete.

        limit bounds how many change_log rows the server scans per page,
        not how many entities come back. An entity changed several times
        since the cursor collapses to one entry here, but still counts as
        several against limit - so a page can legitimately contain fewer
        entities than limit, or even zero, while hasMore is still true.
        Never infer "nothing left" from a short or empty page; only
        hasMore says that.
      properties:
        workoutSessions:
          type: array
          items: { $ref: '#/components/schemas/WorkoutSession' }
        exercises:
          type: array
          items: { $ref: '#/components/schemas/Exercise' }
        workoutTemplates:
          type: array
          items: { $ref: '#/components/schemas/WorkoutTemplate' }
        userExerciseStates:
          type: array
          items: { $ref: '#/components/schemas/UserExerciseState' }
        userTemplateStates:
          type: array
          items: { $ref: '#/components/schemas/UserTemplateState' }
        userProfile:
          $ref: '#/components/schemas/UserProfile'
        nextCursor:
          type: string
          description: Persist only after committing this page locally.
        hasMore:
          type: boolean

    EntityType:
      type: string
      enum:
        - WORKOUT_SESSION
        - EXERCISE
        - WORKOUT_TEMPLATE
        - USER_EXERCISE_STATE
        - USER_TEMPLATE_STATE
        - USER_PROFILE

    HealthStatus:
      type: object
      description: Liveness only. A 200 here means the process is up - it says nothing about the database or downstream dependencies.
      required: [ status ]
      properties:
        status:
          type: string
          enum: [ UP ]

    MeResponse:
      type: object
      description: Authenticated bootstrap payload - everything a client needs to initialize a session in one call.
      required:
        - profile
        - exerciseLibraryVersion
        - templateLibraryVersion
        - serverTime
      properties:
        profile:
          $ref: '#/components/schemas/UserProfile'
        exerciseLibraryVersion:
          type: integer
          description: Current server-side default exercise library version. Compare against the client's bundled version to decide whether to call /v1/reference/exercises.
        templateLibraryVersion:
          type: integer
          description: Current server-side default workout template library version. Compare against the client's bundled version to decide whether to call /v1/reference/templates.
        serverTime:
          type: integer
          format: int64
          description: Server's current time, epoch milliseconds. Compare against the client's local clock to detect and report clock skew.

    ReferenceVersion:
      type: object
      required: [ exerciseLibraryVersion, templateLibraryVersion ]
      properties:
        exerciseLibraryVersion:
          type: integer
        templateLibraryVersion:
          type: integer

    ExerciseLibraryResponse:
      type: object
      description: |
        The full default exercise library. Includes deprecated entries -
        clients need them to resolve existing references (e.g. in past
        workout sessions) and must filter deprecated exercises out of
        browsing/search themselves.
      required: [ version, exercises ]
      properties:
        version:
          type: integer
          description: Matches exerciseLibraryVersion from /v1/reference/version at the time of this response.
        exercises:
          type: array
          items: { $ref: '#/components/schemas/Exercise' }

    TemplateLibraryResponse:
      type: object
      description: |
        The full default workout template library. Includes deprecated
        entries, for the same reason as ExerciseLibraryResponse.
      required: [ version, templates ]
      properties:
        version:
          type: integer
          description: Matches templateLibraryVersion from /v1/reference/version at the time of this response.
        templates:
          type: array
          items: { $ref: '#/components/schemas/WorkoutTemplate' }

    WorkoutSession:
      type: object
      description: |
        A completed or in-progress workout. Syncs as a whole aggregate
        together with its performed exercises and sets - there is no
        separate sync path for a child row.
      required:
        - id
        - startedAt
        - durationSeconds
        - title
        - performedExercises
        - updatedAt
        - revision
      properties:
        id:
          type: string
          format: uuid
          description: Client-generated UUIDv7. Doubles as the sync idempotency key.
        startedAt:
          type: integer
          format: int64
          description: Epoch milliseconds when the session started.
        endedAt:
          type: [integer, "null"]
          format: int64
          description: Epoch milliseconds when the session ended. Null means the session is still in progress.
        durationSeconds:
          type: integer
          format: int32
          description: |
            Total duration of the session, in seconds. Deliberately not
            derived from endedAt - startedAt: elapsed wall-clock time
            includes rest/idle time and the user may edit the duration
            independently of when the session actually started or ended.
        title:
          type: string
          description: Session title, e.g. a template name or "Workout".
        notes:
          type: [string, "null"]
          description: Per-session commentary, e.g. "felt strong today" or "shoulder was tight".
        templateId:
          type: [string, "null"]
          format: uuid
          description: |
            Soft reference to WorkoutTemplate.id this session was started
            from - not a foreign key, must tolerate the referenced template
            being deleted. Provenance only; use templateTitle for display.
        templateTitle:
          type: [string, "null"]
          description: |
            Snapshot of WorkoutTemplate.title at the time this session was
            started. Written once and never updated, so a later rename or
            deletion of the template does not rewrite history. Null if this
            session wasn't started from a template.
        performedExercises:
          type: array
          description: |
            Exercises performed during this session. Order reflects the
            sequence in which they were performed.
          items: { $ref: '#/components/schemas/PerformedExercise' }
        updatedAt:
          type: integer
          format: int64
          readOnly: true
          description: Server-assigned last-change time, epoch milliseconds. Clients must not set this.
        deletedAt:
          type: [integer, "null"]
          format: int64
          description: |
            Tombstone time, epoch milliseconds; non-null means this
            session is deleted. On push, this is the client's delete
            signal, not a timestamp the server trusts: set it to any
            non-null value to delete the session, leave it null
            otherwise. The server always stamps its own current time on
            write and ignores the value sent - what comes back from pull
            is the authoritative deletedAt.
        revision:
          type: integer
          format: int32
          readOnly: true
          description: Server-assigned revision number. Clients must not set this.

    PerformedExercise:
      type: object
      description: |
        One exercise performed within a WorkoutSession, with the sets
        recorded for it. A child of the WorkoutSession aggregate: it has no
        sync metadata of its own, and a tombstoned session implicitly
        tombstones every performed exercise (and set) under it.
      required:
        - id
        - exerciseId
        - orderIndex
        - exerciseName
        - exerciseCategory
        - exerciseTrackingType
        - exercisePrimaryMuscles
        - sets
      properties:
        id:
          type: string
          format: uuid
          description: Client-generated UUIDv7 for this performed-exercise instance.
        exerciseId:
          type: string
          format: uuid
          description: |
            Soft reference to Exercise.id - not a foreign key. The
            exercises table can be re-seeded, or the referenced exercise
            deprecated or (if custom) deleted entirely. History must remain
            readable even when this id no longer resolves; use the
            exerciseName/exerciseCategory/exerciseTrackingType/
            exercisePrimaryMuscles snapshot fields below for display, not a
            live lookup.
        orderIndex:
          type: integer
          format: int32
          description: Position of this exercise within the session (0-indexed).
        exerciseName:
          type: string
          description: |
            Snapshot of Exercise.name at the time this exercise was
            performed. Written once at creation and never updated - a later
            rename must not rewrite history.
        exerciseCategory:
          allOf:
            - $ref: '#/components/schemas/ExerciseCategory'
          description: Snapshot of Exercise.category at the time this exercise was performed. Written once and never updated.
        exerciseTrackingType:
          allOf:
            - $ref: '#/components/schemas/ExerciseTrackingType'
          description: Snapshot of Exercise.trackingType at the time this exercise was performed. Written once and never updated.
        exercisePrimaryMuscles:
          type: array
          description: Snapshot of Exercise.primaryMuscles at the time this exercise was performed. Written once and never updated.
          items: { $ref: '#/components/schemas/MuscleGroup' }
        sets:
          type: array
          description: |
            Sets performed for this exercise. Order reflects the sequence
            in which they were performed.
          items: { $ref: '#/components/schemas/WorkoutSet' }
        supersetGroup:
          type: [integer, "null"]
          format: int32
          description: |
            Groups exercises performed together in the same session (e.g. a
            superset). Exercises sharing a non-null value are performed
            together. Stored and round-tripped only - no UI or logic yet.

    WorkoutSet:
      type: object
      description: |
        A single set within a PerformedExercise. Which measurements are
        populated depends on the exercise's tracking type. A child of the
        WorkoutSession aggregate; carries no sync metadata of its own.
      required:
        - id
        - setType
        - isCompleted
        - orderIndex
      properties:
        id:
          type: string
          format: uuid
          description: Client-generated UUIDv7 for this set.
        weightKg:
          type: [number, "null"]
          format: float
          description: Weight used for this set, in kilograms (kg). Null when not tracked for this set's exercise, or not yet entered.
        reps:
          type: [integer, "null"]
          format: int32
          description: Repetitions performed in this set. Null when not tracked for this set's exercise, or not yet entered.
        durationSeconds:
          type: [integer, "null"]
          format: int32
          description: Duration of this set in seconds (e.g. planks, timed holds, cardio). Null when not tracked for this set's exercise, or not yet entered.
        distanceMeters:
          type: [number, "null"]
          format: float
          description: Distance covered during this set, in metres. Null when not tracked for this set's exercise, or not yet entered.
        setType:
          allOf:
            - $ref: '#/components/schemas/SetType'
          description: Role this set plays within the exercise (warmup, working, drop, failure).
        isCompleted:
          type: boolean
          description: |
            Whether the user has finished performing this set. An
            in-progress set (false) may have every measurement null - the
            row exists but hasn't been filled in yet.
        restTakenSeconds:
          type: [integer, "null"]
          format: int32
          description: Rest actually taken after this set, in seconds. Distinct from the template's planned rest time.
        orderIndex:
          type: integer
          format: int32
          description: Order of this set within the exercise (0-indexed).

    Exercise:
      type: object
      description: |
        The blueprint/definition of an exercise (e.g. "Bench Press"), not a
        performed instance. Bundled/default exercises are server-owned;
        custom exercises are owned by the user who created them.
      required:
        - id
        - name
        - primaryMuscles
        - secondaryMuscles
        - instructions
        - tips
        - difficulty
        - equipmentNeeded
        - category
        - exerciseType
        - trackingType
        - source
        - deprecated
        - updatedAt
        - revision
      properties:
        id:
          type: string
          format: uuid
          description: Client-generated (CUSTOM) or server-generated (DEFAULT) UUIDv7.
        name:
          type: string
          description: Name of the exercise, e.g. "Bench Press", "Barbell Squat".
        primaryMuscles:
          type: array
          description: Primary muscle groups targeted by this exercise. Can include multiple, e.g. for compound movements.
          items: { $ref: '#/components/schemas/MuscleGroup' }
        secondaryMuscles:
          type: array
          description: Secondary muscle groups engaged to assist, but not the main focus.
          items: { $ref: '#/components/schemas/MuscleGroup' }
        description:
          type: [string, "null"]
          description: Detailed description of how to perform the exercise - form cues, breathing tips, general guidance.
        instructions:
          type: array
          description: Step-by-step instructions for performing the exercise, one string per step.
          items: { type: string }
        tips:
          type: array
          description: Key tips for performing the exercise correctly - helpful hints and safety advice.
          items: { type: string }
        difficulty:
          $ref: '#/components/schemas/DifficultyLevel'
        equipmentNeeded:
          type: array
          description: Equipment required to perform this exercise. Can include multiple items, e.g. barbell + bench.
          items: { $ref: '#/components/schemas/Equipment' }
        category:
          $ref: '#/components/schemas/ExerciseCategory'
        exerciseType:
          $ref: '#/components/schemas/ExerciseType'
        trackingType:
          $ref: '#/components/schemas/ExerciseTrackingType'
        videoUrl:
          type: [string, "null"]
          format: uri
          description: URL to an external video demonstration (e.g. YouTube).
        thumbnailUrl:
          type: [string, "null"]
          format: uri
          description: URL to a thumbnail image of the exercise, for preview in lists and cards.
        source:
          allOf:
            - $ref: '#/components/schemas/EntitySource'
          description: Whether this is a default/bundled (or server-provided) exercise, or one the user created.
        ownerId:
          type: [string, "null"]
          description: Firebase UID of the creator, for CUSTOM exercises. Null for DEFAULT rows.
        derivedFromId:
          type: [string, "null"]
          format: uuid
          description: |
            Id of the DEFAULT exercise this one was duplicated from, for a
            future "duplicate and edit" action on a default entry. Not used
            yet.
        deprecated:
          type: boolean
          description: |
            Whether this exercise has been superseded and should no longer
            appear in lists, search, or filters. Existing references to it
            remain resolvable.
        updatedAt:
          type: integer
          format: int64
          readOnly: true
          description: Server-assigned last-change time, epoch milliseconds. Clients must not set this.
        deletedAt:
          type: [integer, "null"]
          format: int64
          description: |
            Tombstone time, epoch milliseconds; non-null means this row
            is deleted. On push, this is the client's delete signal, not
            a timestamp the server trusts: set it to any non-null value
            to delete the row, leave it null otherwise. The server
            always stamps its own current time on write and ignores the
            value sent - what comes back from pull is the authoritative
            deletedAt. Deleting a DEFAULT exercise this way is rejected
            the same as any other write to one (FORBIDDEN) - only CUSTOM
            rows can be deleted.
        revision:
          type: integer
          format: int32
          readOnly: true
          description: Server-assigned revision number. Clients must not set this.

    WorkoutTemplate:
      type: object
      description: |
        A reusable blueprint of planned exercises (sets/reps/rest) that a
        workout session can be started from. Unlike WorkoutSession, carries
        no actual performance data. Syncs as a whole aggregate together with
        its template exercises.
      required:
        - id
        - title
        - templateExercises
        - source
        - deprecated
        - updatedAt
        - revision
      properties:
        id:
          type: string
          format: uuid
          description: Client-generated (CUSTOM) or server-generated (DEFAULT) UUIDv7.
        title:
          type: string
          description: User-defined title, e.g. "Push Day", "Leg Day", "Full Body".
        templateExercises:
          type: array
          description: |
            Exercises planned in this template with their target sets/reps.
            Order reflects the planned sequence of exercises.
          items: { $ref: '#/components/schemas/TemplateExercise' }
        source:
          allOf:
            - $ref: '#/components/schemas/EntitySource'
          description: |
            Whether this is a default/bundled (or server-provided) template,
            or one the user created. Default templates cannot be edited or
            deleted, only hidden.
        ownerId:
          type: [string, "null"]
          description: Firebase UID of the creator, for CUSTOM templates. Null for DEFAULT rows.
        derivedFromId:
          type: [string, "null"]
          format: uuid
          description: |
            Id of the DEFAULT template this one was duplicated from, for a
            future "duplicate and edit" action on a default entry. Not used
            yet.
        deprecated:
          type: boolean
          description: |
            Whether this template has been superseded and should no longer
            appear in lists, search, or filters. Existing references to it
            remain resolvable.
        updatedAt:
          type: integer
          format: int64
          readOnly: true
          description: Server-assigned last-change time, epoch milliseconds. Clients must not set this.
        deletedAt:
          type: [integer, "null"]
          format: int64
          description: |
            Tombstone time, epoch milliseconds; non-null means this
            template is deleted. On push, this is the client's delete
            signal, not a timestamp the server trusts: set it to any
            non-null value to delete the template, leave it null
            otherwise. The server always stamps its own current time on
            write and ignores the value sent - what comes back from pull
            is the authoritative deletedAt. Deleting a DEFAULT template
            this way is rejected the same as any other write to one
            (FORBIDDEN) - only CUSTOM templates can be deleted.
        revision:
          type: integer
          format: int32
          readOnly: true
          description: Server-assigned revision number. Clients must not set this.

    TemplateExercise:
      type: object
      description: |
        A planned exercise within a WorkoutTemplate: target sets/reps/rest,
        no performance data. A child of the WorkoutTemplate aggregate; no
        sync metadata of its own.
      required:
        - id
        - exerciseId
        - exerciseName
        - exerciseTrackingType
        - plannedSets
        - orderIndex
      properties:
        id:
          type: string
          format: uuid
          description: Client-generated UUIDv7 for this template-exercise instance.
        exerciseId:
          type: string
          format: uuid
          description: Reference to Exercise.id this template exercise is based on.
        exerciseName:
          type: string
          description: |
            Snapshot of Exercise.name at the time this template exercise
            was created or last updated. Written once (or re-stamped on
            update), and never rewritten by an unrelated library refresh or
            exercise rename.
        exerciseTrackingType:
          allOf:
            - $ref: '#/components/schemas/ExerciseTrackingType'
          description: |
            Snapshot of Exercise.trackingType at the time this template
            exercise was created or last updated - same rule as
            exerciseName. Determines which planned measurement
            (plannedReps, plannedDurationSeconds, plannedDistanceMeters)
            the display and set editor should use.
        plannedSets:
          type: integer
          format: int32
          description: Planned/target number of sets for this exercise. Must be greater than 0.
        plannedReps:
          type: [integer, "null"]
          format: int32
          description: |
            Planned/target number of repetitions per set. Null when the
            exercise's tracking type has no rep target (e.g. a DURATION
            exercise like a plank), in which case plannedDurationSeconds
            carries the target instead.
        orderIndex:
          type: integer
          format: int32
          description: Position of this exercise in the template (0-indexed).
        restSeconds:
          type: [integer, "null"]
          format: int32
          description: Planned rest time in seconds between sets. Null if no specific rest time is defined.
        plannedDurationSeconds:
          type: [integer, "null"]
          format: int32
          description: Planned/target duration in seconds for this exercise (e.g. a 60s plank). Mirrors WorkoutSet.durationSeconds. Null when not applicable.
        plannedDistanceMeters:
          type: [number, "null"]
          format: float
          description: Planned/target distance in metres for this exercise (e.g. a 2000m row). Mirrors WorkoutSet.distanceMeters. Null when not applicable.
        plannedWeightKg:
          type: [number, "null"]
          format: float
          description: Planned/target weight in kilograms (kg) for this exercise. Mirrors WorkoutSet.weightKg. Null when not applicable or not planned.
        notes:
          type: [string, "null"]
          description: |
            Optional notes/instructions for this exercise in the template -
            form cues, intensity guidelines, tempo instructions, etc.

    UserExerciseState:
      type: object
      description: |
        Per-user overlay state for an Exercise: hidden/favorite flags, a
        personal note, and a preferred default rest time. Kept separate
        from Exercise so a reference-data refresh never clobbers user
        preferences. Sparse: a row exists only once the user has expressed
        an opinion about the exercise. Upsert-only - there is no delete
        operation, so unlike other user-owned rows this has no deletedAt.
      required:
        - exerciseId
        - isHidden
        - isFavorite
        - updatedAt
        - revision
      properties:
        exerciseId:
          type: string
          format: uuid
          description: |
            Soft reference to Exercise.id, and the primary key of this
            overlay row - not a foreign key. A row is left in place if the
            referenced exercise is later removed; the preference simply
            resumes if an exercise with that id reappears.
        isHidden:
          type: boolean
          description: Whether the user has hidden this exercise from lists, search, and filters.
        isFavorite:
          type: boolean
          description: Whether the user has favorited this exercise.
        note:
          type: [string, "null"]
          description: Personal note the user has attached to this exercise.
        defaultRestSeconds:
          type: [integer, "null"]
          format: int32
          description: User's preferred default rest time in seconds for this exercise.
        updatedAt:
          type: integer
          format: int64
          readOnly: true
          description: Server-assigned last-change time, epoch milliseconds. Clients must not set this.
        revision:
          type: integer
          format: int32
          readOnly: true
          description: Server-assigned revision number. Clients must not set this.

    UserTemplateState:
      type: object
      description: |
        Per-user overlay state for a WorkoutTemplate: hidden/favorite
        flags. Same sparse, upsert-only, soft-reference design as
        UserExerciseState, applied to templates instead of exercises - see
        its description for the full rationale. No deletedAt, for the same
        reason.
      required:
        - templateId
        - isHidden
        - isFavorite
        - updatedAt
        - revision
      properties:
        templateId:
          type: string
          format: uuid
          description: |
            Soft reference to WorkoutTemplate.id, and the primary key of
            this overlay row - not a foreign key. A row is left in place if
            the referenced template is later removed.
        isHidden:
          type: boolean
          description: Whether the user has hidden this template from lists, search, and filters.
        isFavorite:
          type: boolean
          description: Whether the user has favorited this template.
        updatedAt:
          type: integer
          format: int64
          readOnly: true
          description: Server-assigned last-change time, epoch milliseconds. Clients must not set this.
        revision:
          type: integer
          format: int32
          readOnly: true
          description: Server-assigned revision number. Clients must not set this.

    UserProfile:
      type: object
      description: |
        The user's profile: identity, optional physical stats, and fitness
        preferences. Device-local display preferences (e.g. preferred
        units) are not part of this resource and are never transmitted.
      required:
        - uid
        - name
        - email
        - joinedDate
        - updatedAt
        - revision
      properties:
        uid:
          type: string
          description: Firebase UID. Primary key; matches the authenticated caller.
        name:
          type: string
          description: Display name.
        email:
          type: string
          format: email
        profileImageUrl:
          type: [string, "null"]
          format: uri
          description: URL to the user's profile image.
        birthDate:
          type: [integer, "null"]
          format: int64
          description: Date of birth, epoch milliseconds.
        weight:
          type: [number, "null"]
          format: float
          description: Current body weight, in kilograms (kg).
        height:
          type: [number, "null"]
          format: float
          description: Height, in centimetres (cm).
        gender:
          oneOf:
            - $ref: '#/components/schemas/Gender'
            - type: 'null'
        fitnessGoal:
          oneOf:
            - $ref: '#/components/schemas/FitnessGoal'
            - type: 'null'
        activityLevel:
          oneOf:
            - $ref: '#/components/schemas/ActivityLevel'
            - type: 'null'
        targetWeight:
          type: [number, "null"]
          format: float
          description: Goal body weight, in kilograms (kg).
        joinedDate:
          type: integer
          format: int64
          description: Date the user joined, epoch milliseconds.
        bio:
          type: [string, "null"]
          description: Free-text profile bio.
        updatedAt:
          type: integer
          format: int64
          readOnly: true
          description: Server-assigned last-change time, epoch milliseconds. Clients must not set this.
        deletedAt:
          type: [integer, "null"]
          format: int64
          readOnly: true
          description: |
            Server-assigned tombstone time, epoch milliseconds. Non-null
            means this profile is deleted. Clients must not set this.
        revision:
          type: integer
          format: int32
          readOnly: true
          description: Server-assigned revision number. Clients must not set this.

    Error:
      type: object
      description: Standard error body returned for all non-2xx responses.
      required:
        - error
        - message
        - traceId
      properties:
        error:
          type: string
          description: |
            Stable machine-readable error identifier. Match on this field,
            never on message.
          enum:
            - UNAUTHENTICATED
            - FORBIDDEN
            - VALIDATION_FAILED
            - CURSOR_EXPIRED
            - RATE_LIMITED
            - INTERNAL
        message:
          type: string
          description: Human-readable explanation. Safe to log, but not guaranteed stable across releases - match on error, not message.
        details:
          type: [object, "null"]
          additionalProperties: true
          description: |
            Optional structured context. Shape varies by error code, e.g.
            field-level validation failures for VALIDATION_FAILED.
        traceId:
          type: string
          description: Correlates this error to server-side logs. Include it when reporting issues.

    ExerciseTrackingType:
      type: string
      description: |
        Which measurements a set of this exercise records. WEIGHT_REPS is
        the default and covers the large majority of exercises; the others
        exist for bodyweight, timed, and cardio-style movements.
      enum:
        - WEIGHT_REPS
        - REPS_ONLY
        - WEIGHT_DURATION
        - DURATION
        - DISTANCE_DURATION
        - WEIGHT_DISTANCE

    SetType:
      type: string
      description: Role a set plays within an exercise, used to weight it differently in volume calculations.
      enum:
        - WARMUP
        - WORKING
        - DROP
        - FAILURE

    EntitySource:
      type: string
      description: Whether a reference-data row (Exercise, WorkoutTemplate) was bundled/server-provided, or created by the user.
      enum:
        - DEFAULT
        - CUSTOM

    ExerciseCategory:
      type: string
      description: General category of an exercise, classifying it by training modality.
      enum:
        - STRENGTH
        - CARDIO
        - FLEXIBILITY
        - PLYOMETRIC
        - OLYMPIC_LIFTING
        - STRONGMAN
        - CALISTHENICS

    MuscleGroup:
      type: string
      description: Major muscle group targeted by an exercise, used for primary/secondary muscle classification.
      enum:
        - CHEST
        - BACK
        - LEGS
        - SHOULDERS
        - ARMS
        - CORE
        - OTHER

    Equipment:
      type: string
      description: Equipment needed for an exercise, used to filter exercises by what's available.
      enum:
        - BARBELL
        - DUMBBELL
        - KETTLEBELL
        - CABLE
        - MACHINE
        - BODYWEIGHT
        - RESISTANCE_BAND
        - EZ_BAR
        - TRAP_BAR
        - PULL_UP_BAR
        - BENCH
        - MEDICINE_BALL
        - SUSPENSION_TRAINER
        - SMITH_MACHINE

    DifficultyLevel:
      type: string
      description: Difficulty level of an exercise, to help users pick exercises suited to their experience.
      enum:
        - BEGINNER
        - INTERMEDIATE
        - ADVANCED

    ExerciseType:
      type: string
      description: Whether an exercise is compound (multi-joint, multiple muscle groups) or isolation (single-joint, one muscle group).
      enum:
        - COMPOUND
        - ISOLATION

    Gender:
      type: string
      description: User's gender, as self-reported.
      enum:
        - MALE
        - FEMALE
        - OTHER
        - PREFER_NOT_TO_SAY

    FitnessGoal:
      type: string
      description: User's primary fitness goal.
      enum:
        - BUILD_MUSCLE
        - LOSE_WEIGHT
        - MAINTAIN
        - GENERAL_FITNESS
        - IMPROVE_ENDURANCE

    ActivityLevel:
      type: string
      description: |
        User's self-reported activity level: SEDENTARY (little to no
        exercise), LIGHTLY_ACTIVE (1-3 days/week), MODERATELY_ACTIVE
        (3-5 days/week), VERY_ACTIVE (6-7 days/week), ATHLETE (intense
        training daily).
      enum:
        - SEDENTARY
        - LIGHTLY_ACTIVE
        - MODERATELY_ACTIVE
        - VERY_ACTIVE
        - ATHLETE

  responses:
    BadRequest:
      description: Malformed request or failed validation. error is VALIDATION_FAILED.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthenticated:
      description: Missing, expired, or invalid token. error is UNAUTHENTICATED.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Authenticated, but not permitted to perform this action. error is FORBIDDEN.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    CursorExpired:
      description: |
        Cursor predates the tombstone retention window (90 days): a
        deletion the client hasn't seen yet has been pruned from this
        account's retained history and can no longer be replayed. error is
        CURSOR_EXPIRED. The client must discard all local user data and
        perform a full resync (call pull again with no cursor).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Too many requests. error is RATE_LIMITED. Respect Retry-After before retrying.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InternalError:
      description: Unexpected server failure. error is INTERNAL. Include traceId when reporting.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }